:root {
    --primary-color: #ea168b;
    --black-color: #3e3e3e;
    --ash-color: #4a4a4a;
    --aside-font-size: 11px;
    --aside-p-color: #dfe3e7;
}

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Roboto, sans-serif;
}
header {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    height: 55px;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}
main {
    display: flex;
    height: calc(100vh - 55px);
}
aside {
    width: 20%;
    display: flex;
    flex-direction: column;
}
aside h4 {
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.3px;
}
aside p {
    font-size: 12px;
    font-weight: normal;
    color: #9c9ea0;
    padding-top: 10px;

    padding-bottom: 12px;
}
#main {
    width: 80%;
    background-color: #e9e9e9;
    padding: 22px;
}
.header-left,
.header-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.color-pink {
    color: #ea168b;
}
.background-pink {
    background-color: #ea168b;
    color: #fff;
}
.lr-p-3 {
    padding: 0 3px;
}
.notification {
    padding-right: 20px;
}
.user-name {
    text-align: center;
    font-size: 0.8em;
}
.second-name {
    font-size: 10px;
    opacity: 0.5;
    color: gray;
}
.aside-top {
    /* height: 60%; */
    display: block;

    padding: 20px;
}
.main-menu {
    padding-bottom: 12px;
    list-style: none;
}
.aside-bottom {
    display: flex;
    flex-direction: column;
}
.aside-bottom-menu {
    padding: 10px 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.aside-bottom-menu span {
    margin-left: 5px;
}
.aside-bottom-menu:hover {
    background-color: #ea168b;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}

ul.main-menu li {
    font-size: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
}
ul.main-menu li a {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
ul.main-menu li:hover .count {
    color: white;
    background-color: var(--primary-color);
    transition: 0.5s;
}
ul.main-menu li:hover .li-text {
    color: #ea168b;

    transition: 0.5s;
}
.count {
    border-radius: 50%;
    background-color: #ea168b;
    color: white;
    padding: 0 7px;
}
li.color-inactive .count {
    background-color: #bbb;
}
li.color-inactive span {
    color: #9c9ea0;
}

.aside-top hr {
    margin-top: 25px;
    margin-bottom: 15px;
    border-top: 0.1px #bbb;
}
.aside-top-middle,
.aside-top-end {
    /* border-top: 1px solid #bbb;
    padding-top: 10px; */
}
.font-size {
    font-size: 12px;
    font-weight: bold;
}
/*section*/
.all-group-top-hr {
    margin-top: 12px;
    border-top: 0.1px #aba4a4;
}
.all-group-top {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
}
.all-group-top hr {
    margin-top: 10px;
    color: #9e9e9e;
    border-top: 0.2px;
}
.card-top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.recomented-groups {
    color: #676767;
    font-size: 10px;
    letter-spacing: 1.67px;
    font-weight: bold;
}
.card-container {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 310px;
    min-width: 210px;
    height: 60px;
    background-color: #ffff;
    border-radius: 4px;
    box-shadow: 0 1px 5px 0 rgba(126, 142, 177, 0.3);
    text-align: center;
    font-size: 12px;
    margin-right: 3px;
}
.card-box-container {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    margin-top: 10px;
}
.card-box-container::-webkit-scrollbar {
    display: none;
}
.card-content {
    text-align: left;
}
.card-container h3 {
    font-size: 12px;
    color: #4a4a4a;
    font-weight: 500;
}
.card-container p {
    font-size: 11px;
    color: #9c9ea0;
    opacity: 0.5;
}
.group-icon img {
    width: 25px;
}
.plus-img-containeer img {
    width: 22px;
}
/* over flow text */
.overflow-txt {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100px;
}

/* table begins  */

.table-container {
    background-color: #fff;
    display: block;
    padding: 20;
    margin-top: 20px;
}
.table-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table-head span {
    display: block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}
.input-group button {
    color: #fff;
    background-color: #ea168b;
    width: 105.2px;
    height: 30px;
    border-radius: 3px;
    border: none;
}
.input-group button:hover {
    color: #ea168b;
    background-color: #fff;
    cursor: pointer;
    border-radius: 3px;
    border: solid 1px #ea168b;
}

.input-group input {
    padding-left: 1.9rem;
    width: 200px;
    height: 30px;
    border: solid 1px #dee3e6;
    border-radius: 3px;
    font-size: 12px;
}
input::-webkit-input-placeholder {
    /* WebKit browsers */
    margin-left: 8px;
}
.fa-search {
    color: #9c9ea0;
    position: absolute;
    padding: 8px;
}

/* table */
thead,
tbody,
tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
tbody::-webkit-scrollbar {
    display: none;
}
table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}
th {
    background-color: #dee3e6;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0.5;
}
td {
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid #dfe3e7;
}
table button {
    width: 78.1px;
    height: 25px;
    border-radius: 3px;
    border: solid 1px #ea168b;
    background-color: #fff;
    color: #ea168b;
    font-size: 12px;
}
table button:hover {
    border-radius: 3px;
    border: solid 1px #ea168b;
    background-color: #ea168b;
    color: #fff;
    cursor: pointer;
}
table img {
    /* height: 20px;
    width: 20px;
    top: 5px; */
    position: relative;
}

td,
th {
    padding: 10px;
    text-align: left;
}
.text-align-center {
    text-align: center;
}
td a {
    color: #ea168b;
    padding-left: 8px;
}
.fa-user {
    color: #ea168b;
}
tbody {
    display: block;
    overflow-y: scroll;
    max-height: 200px;
}
.inputcheckbox-td {
    width: 30px;
}
.table-groupname {
    padding: 16px 10px;
    display: flex;
    /* display: inline-block; */
    align-content: center;
}
.table-div {
    min-height: calc(100vh - 350px);
}
/* footer */
.tfooter {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.tfooter span {
    display: flex;
    align-items: center;
    padding-top: 20px;
    font-size: 12px;
    color: grey;
}

.tfooter input {
    width: 1.5rem;
    height: 1rem;
    margin: 0px 5px;
}

@media only screen and (max-width: 425px) {
    .header-left,
    .header-right {
        padding: 0px 0px;
    }
    .hide-mobile {
        display: none;
    }
    #main {
        width: 100% !important;
        padding: 0;
    }
    .notification {
        padding-right: 10px;
    }
    td:nth-child(4) {
        display: none;
    }
    .d-none {
        display: none;
    }
    .table-head {
        flex-direction: column;

        margin-bottom: 10px;
    }
    .input-group button {
        padding: 8px;
    }
    .input-group {
        /* justify-content: space-between; */
        display: flex;
        flex: 1;
    }
}

@media only screen and (min-width: 1600px) {
    aside {
        font-size: 2em;
    }
    .aside-top {
        height: 70%;
    }
}
@media only screen and (max-width: 1024px) {
    .aside-top {
        height: 70%;
    }
    .td-overflow-txt a {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100px;
    }
}
@media only screen and (max-width: 768px) and (min-width: 420px) {
    .aside-bottom-menu {
        padding: 10px 10px;
        font-size: 11px;
    }
    .aside-top {
        padding: 10px;
        height: 80%;
    }
    aside {
        width: 30%;
    }
    #main {
        width: 70%;
    }

    aside p {
        padding-bottom: 0;
    }
    td:nth-child(4) {
        display: none;
    }
    .createdon-tb-d-none {
        display: none;
    }
}
